# Ignore everything by default.

*

# Add/ignore files in the .config directory.

!.config
!.config/**
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/zsh/.antidote/
.config/zsh/.zplugins.zsh
.config/zsh/.zsh_history
