# Ignore everything by default.

*

# Add/ignore files in the .config directory.

!.config
!.config/**
!.local
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/zsh/.antidote/
.config/zsh/.zplugins.zsh
.config/zsh/.zsh_history
.config/jgit
.config/zsh/.zcompdump


# Add/ignore files in the .opt directory.
!.opt
!.opt/dotfiles
!.opt/dotfiles/**
